html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: arial, sans-serif;
}

/*Code permettant d'afficher la page entière en utilisant flexbox*/
article {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

header, main, footer {
    flex-shrink: 0;
}

main {
    flex-grow: 1;
}

a {
    text-decoration: none;
    color: rgba(0,0,0,0.8);
    font-size: small;
}

header
{
    margin: 20px 30px 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
}

header input {
    font-size: 13px;
    font-weight: bold;
    width: 93px;
    height: 28px;
    padding: 0 12px;
    text-align: center;
    color: white;
    background-color: #4285f4;
    border: 1px solid #4285f4;
    border-radius: 2px;
    outline: none;
}

main
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#logo {
    margin-bottom: 20px;
}

.searchbar {
    position: relative;
    margin-bottom: 20px;
}

.searchbar input {
    font-size: 18px;
    min-width: 560px;
    min-height: 39px;
    padding: 5px 8px 0 16px;
    border: 1px solid rgba(0,0,0,0.30);
    border-radius: 3px;
    outline: none;
    box-shadow: 1px 1px 1px lightgrey;
}

.searchbar input:hover {
    box-shadow: 3px 3px 5px lightgrey;
}

.searchbar img {
    position: absolute;
    right: 10px;
    top: 12px;
    height: 22px;
}

.buttons {
    margin-bottom: 100px;
}

.buttons input {
    font-size: 13px;
    font-weight: bold;
    margin: 11px 7px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    height: 36px;
    line-height: 27px;
}

.buttons input:hover {
    color: black;
    box-shadow: 1px 1px 5px grey;
}


.lignebas a {
   color: #757575;
}

a:hover
{
   text-decoration: underline;
   color: #757575;
}

.lignebas
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.buttonhead
{
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.buttons
{
    display: flex;
    flex-direction: row;
}

footer {
    display: flex;
    flex-direction: column;
    color: rgba(0,0,0,.54);
    background: #f2f2f2;
    height: 82px;
}

.footerlong
{
    margin-left: 30px;
    font-size: 15px;
    align-items: center;
}

.footerlong, .lignebas{
    display: flex;
    height: 41px;
    border-top: 1px solid #e4e4e4;
}

.footer1
{
    width: 300px;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    justify-content: space-between;
    align-items: center;
}

.footer2
{
    width: 500px;
    display: flex;
    flex-direction: row;
    margin-right: 40px;
    justify-content: space-between;
    align-items: center;
}
